* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  padding: 1rem;
}

main {
  display: flex;
}

section {
  padding: 0 1rem;
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
section > section {
  padding: 0;
  display: flex;
  gap: 2rem;
}

.lineup {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}

.lineup a {
  color: unset;
  text-decoration: unset;

  display: block;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 0.25rem;
  padding: 1ch;
}

.lineup a:hover {
  background: #eee;
}


.date,
.location,
.description {
  padding: 2rem, 0;
}